__pycache__
notebooks/.ipynb_checkpoints
notebooks/*.png
*.pyc
old
release
notebooks/CYGNSS_L2_Python_Module_Demo.pdf
notebooks/CYGNSS_L2_Python_Module_Demo.html
notebooks/CYGNSS_L2_Python_Module_Testing.ipynb
notebooks/CYGNSS_L2_Python_Module_Tyler.ipynb
